    <html>
        <head>
            <title>Sensor Node Data</title>
            <!-- <meta http-equiv="refresh" content="2"> -->
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/5.0.3/mqtt.min.js"></script> -->
            <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
            <style>
            body { font-family: Arial; background:#111; color:white; }
            table { border-collapse: collapse; width:50%; }
            th, td { border:1px solid white; padding:8px; text-align:center; }
            th { background:#333; }
            </style>
        </head>

        <body>
            <h1>Sensor Node Dashboard</h1>

            <table>
                <tr><th>Client IP</th><th>Latest Temperature</th><th>Wind Speed</th><th>Timestamp</th></tr>
                <tbody id="data-body"></tbody>
            </table>
            
            <script>
                // const FLASK_URL = "http://localhost:8080";
                const FLASK_URL = "https://mia-0w2l.onrender.com";

                async function startMQTT() {
                    const res = await fetch('/mqtt-config');
                    const config = await res.json();
                    
                    const mqtt_client = mqtt.connect(config.broker, {
                        username: config.username,
                        password: config.password
                    });

                    mqtt_client.on('connect', () => {
                    console.log('Connected to MQTT broker');
                    mqtt_client.subscribe('nodes/+/data');
                    });

                    mqtt_client.on('message', (topic, message) => {
                        const node = topic.split('/')[1];
                        const data = JSON.parse(message.toString());
                        const temp = data.temp !== undefined ? data.temp : null;
                        const wind_speed = data.wind_speed !== undefined ? data.wind_speed : null;
                        updateNode(node, temp, wind_speed, data.timestamp);
                        console.log(`Received message on ${topic}: ${message.toString()}`);
                    });

                }

                function updateNode(node, temp, wind, time) {
                    const tbody = document.getElementById('data-body');
                    let node_latest = document.getElementById(`${node}-latest`);
                    const temperature = temp !== null ? `${parseFloat(temp).toFixed(2)}°C` : '--';
                    const wind_speed = wind !== null ? `${parseFloat(wind).toFixed(2)} m/s` : '--';
                    
                    let timestamp = '--';
                    if (time) {
                        let date;
                        if (typeof time === 'number') {
                            date = new Date(time * 1000); // from picoW (UNIX timestamp)
                        } else {
                            date = new Date(time); // from Supabase
                        }
                        timestamp = date.toLocaleString("en-US", {timeZone: "America/Toronto"});
                    }

                    if (!node_latest) {  
                        node_latest = document.createElement('tr');
                        node_latest.id = `${node}-latest`;
                        tbody.appendChild(node_latest);
                    }
                    node_latest.innerHTML= `<td>${node}</td><td>${temperature}</td><td>${wind_speed}</td><td>${timestamp}</td>`;
                }
                
                async function fetchData() {
                    try {
                        const res = await fetch('/latest');
                        const json = await res.json();
                        const tbody = document.getElementById('data-body');
                        tbody.innerHTML = '';
                        for (const [node, values] of Object.entries(json)) {
                            updateNode(node, values.temperature, values.wind_speed, values.timestamp);
                        }
                    } catch (e) {
                        console.log('Fetch error:', e);
                    }
                }

                startMQTT();
                fetchData();
            </script>

        </body>
        </html>
